body {
  font-size: 16px;
  color:black;
}

/** HEADER **/
#header-nav {
  background-color:grey;
  border-radius: 0;
  border: 0;
  height: 70px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  color:black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  border:1px solid black ;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-nav{
  margin:0 -15px ;
}
@media (min-width: 768px) {
  .navbar-nav {
    display: none;
  }
}
/* END HEADER */

h1,h4{
  color: black;
  text-align: center;
}
.sub-main{
  margin: 5%;
  padding:20px;
  background-color: grey;
}
@media(max-width:767px){
  h1{
    margin-top:130px;
  }
}
